@font-face {
    font-family: 'Cattedrale-Demo';
    src: url('Cattedrale-Demo-Regular.woff2') format('woff2'),
        url('Cattedrale-Demo-Regular.woff') format('woff'),
        url('Cattedrale-Demo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bigfat gothic';
    src: url('Bigfatgothic-Regular.woff2') format('woff2'),
        url('Bigfatgothic-Regular.woff') format('woff'),
        url('Bigfatgothic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

